body {
  margin: 0;
  cursor: crosshair;
}

canvas{display:block;}

.ajay {
    height: 300px;
    width: 400px;
  position: absolute;
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
  user-select: none;
}

h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:aqua;
  font-family: "Source Sans Pro";
  font-size: 5em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}

h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:aqua;
  font-family: "Source Sans Pro";
  font-size: 5em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}
